@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');

body {
    padding: 0;
    margin: 0;
    background-color: #F2F2F2;
}

.cabecalho{
    padding: 20px;
}

.cabecalho h1{
    font-family: Montserrat, sans-serif;
    margin: 20px 100px 20px;
    color: #0B6E4F;
}

.marcas{
    background-color: #0B6E4F;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.marcas h2{
    color: #FFF;
    margin: 20px 100px 20px;
    font-family: Poppins, sans-serif;
}

.imagens-marcas img{
    height: 50px;
    width: auto;
}

.sobre{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
}

.sobre p::first-letter{ /* 1º PSEUDO ELEMENTO */
    font-size: 23px;
}

.sobre h1{
    font-family: Poppins, sans-serif;
    margin: 0px 70px 0px;
}

.sobre p{
    font-family: Poppins, sans-serif;
    margin: 0px 70px 0px;
    text-align: justify;
}

.imagem-trofeu img{
    height: 850px;
    margin: 30px 70px 50px;
}

.camisetas, .acessorios, .copa-do-mundo{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.camisetas p, .acessorios p, .copa-do-mundo p{
    font-family: Poppins, sans-serif;
    color: grey;
}

.camisetas h2, .acessorios h2, .copa-do-mundo h2{
    color: #0B6E4F;
    font-family: Poppins, sans-serif;
}

.imagens-camisetas img, .imagens-acessorios img, .imagens-copa img{
    height: 300px;
    width: 300px;
    border: 1px solid black;
    border-radius: 3%;
}

.boxes{
    display: flex;
    justify-content: center;
    height: 150px;
    gap: 20px;
}

.box-tamanho{
    height: 40px;
    width: 60px;
    border: 1px solid black;
    border-radius: 5%;
    background-color: white;
    font-family: Poppins, sans-serif;
    font-size: 15px;
}

.box-tamanho:hover{ /* 1º PSEUDO CLASSE */
    background-color: #0B6E4F;
    color: #FFF;
}

.box-tamanho:focus{ /* 2º PSEUDO CLASSE */
    background-color: #0B6E4F;
    color: #FFF;
}

input{
    height: 37px;
    width: 40px;
    text-align: center;
}

.box-quantidade{
    display: flex;
    align-items: center;
    gap: 30px;
}
#populares{
    font-family: Poppins, sans-serif;
    margin: 0px 70px 75px;
}

.mais-vendidos{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.mais-vendidos p{
    font-family: Poppins, sans-serif;
    color: black;
}

.mais-vendidos h2{
    color: #0B6E4F;
    font-family: Poppins, sans-serif;
}

#fundo-diferente{
    background-color: rgb(187, 187, 187);
    padding: 50px 0px 0px;
}

.contatos{
    font-family: Poppins, sans-serif;
    margin: 70px 70px 75px;
}

.contatos li{
    font-size: 20px;
}

.rodape{
    background-color: #0B6E4F;
    padding: 10px;
    text-align: center;
}

.rodape p{
    font-family: Poppins, sans-serif;
    color: #FFF;
    font-size: 25px;
}

input:focus{ /* 2º PSEUDO CLASSE */
    background-color: yellow;
}

li:nth-child(1){ /* 3º PSEUDO CLASSE */
    color: rgb(0, 110, 255);
}

li:nth-child(2){ /* 3º PSEUDO CLASSE */
    color: rgb(216, 47, 126);
}

::placeholder{ /* 2º PSEUDO ELEMENTO */
    color: black;
}
